.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
build
out
*.iml
*.ipr
*.iws
.vertx
test-output
src/scratchpad
test-results
test-tmp
*.class
*.swp
*.jar
hs_err_pid*
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
